absl-py==2.3.1
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1761726604477/work
aioice==0.10.1
aiortc==1.14.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anthropic==0.72.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1758634638/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
av @ file:///Users/runner/miniforge3/conda-bld/av_1760361904143/work
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_78gviqqx_4/croot/beautifulsoup4-split_1752598991684/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boto3==1.40.68
botocore==1.40.68
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1756599273055/work
build==1.3.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1750147854206/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1758716165910/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
chromadb==1.3.4
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
dataclasses-json==0.6.7
debugpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_debugpy_1758162080/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
durationpy==0.10
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
filelock==3.20.0
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1752167199935/work
fsspec==2025.10.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1753444155689/work
google-auth==2.43.0
google-crc32c==1.7.1
googleapis-common-protos==1.72.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1756752152040/work
grpcio==1.76.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet==1.2.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools==0.7.1
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
ifaddr==0.2.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1754352890318/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
jax==0.4.38
jaxlib==0.4.38
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
jq==1.10.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1756754242108/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
kiwisolver==1.4.9
kubernetes==34.1.0
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1761821672964/work
langchain-anthropic==1.0.0
langchain-aws==1.0.0
langchain-chroma==1.0.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.3
langchain-huggingface==1.0.1
langchain-openai==1.0.1
langchain-text-splitters==1.0.0
langgraph @ file:///home/conda/feedstock_root/build_artifacts/langgraph_1761805794399/work
langgraph-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_langgraph-checkpoint_1760992746/work
langgraph-prebuilt @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_langgraph-prebuilt_1761766849/work
langgraph-sdk @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_langgraph-sdk_1758404149/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1755895710622/work
markdown-it-py==4.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055295243/work
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.3
mmh3==5.2.0
mpmath==1.3.0
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1751310668835/work
mypy_extensions==1.1.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1755254908/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.5
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1761161627/work/dist/numpy-2.3.4-cp312-cp312-macosx_10_13_x86_64.whl#sha256=20993c236034c0b9847a70adc7bcd016c3b0c9c02349aa8beef28b69ac028ab9
oauthlib==3.3.1
onnxruntime==1.23.2
openai==2.6.1
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt_einsum==3.4.0
orjson @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_orjson_1761331327/work
ormsgpack @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ormsgpack_1760805902/work
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1759265650953/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1758208807/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
posthog==5.4.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1744524982298/work
protobuf==6.33.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1760894088552/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1760749236438/work
pydantic-settings==2.11.0
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1760442434/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
pyee==13.0.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pylibsrtp==1.0.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1758891776283/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyzmq_1757387104/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex==2025.10.23
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-oauthlib==2.0.0
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rich==14.2.0
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1761178488/work
rsa==4.9.1
s3transfer==0.14.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentence-transformers==5.1.2
sentencepiece==0.2.1
setuptools==80.9.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sounddevice==0.5.3
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1699283107629/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1760114550977/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1758728738222/work
streamlit-pdf==1.0.8
streamlit-webrtc==0.63.11
sympy==1.14.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
torch==2.2.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1756854944123/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.57.1
typer==0.20.0
typing-inspect==0.9.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1759301180011/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3==2.3.0
uvicorn==0.38.0
uvloop==0.22.1
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1756135374398/work
watchfiles==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
websocket-client==1.9.0
websockets==15.0.1
wheel==0.45.1
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1759440681208/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1761336900155/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
